body.ui.container {
  display: block;
  max-width: 1024px;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

aside {
  max-width: 100%;
  margin-right: 1rem;
  clear: block;
}

main {
  flex-grow: 1;
  display: flex;
  background-color: #cfcfcf;
  height: 360px;
}

/* main:empty::after {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%);
  font-size: 2rem;
  text-align: center;
  color: rgba(255, 255, 255, 0.8);
} */

h2 {
  display: inline;
  margin-bottom: 0;
  font-size: 1.25rem;
}

button { 
  display: inline-flex;
  width: 30px;
  height: 30px;
  text-align:center;
  border-radius: 15px;
}

.ui.tertiary.button.active,
.ui.tertiary.button:hover {
  background-color: royalblue;
  color: #fff;
  width: 30px;
  height: 30px;
  text-align:center;
  border-radius: 15px;
}

#effect-controls {
  padding: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#effects {
  display: flex;
  flex-direction: row;
  align-items: center;
  overflow: auto;
  padding-bottom: 8px;
}

#webar {
  position: relative;
  line-height: 0;
}

#sound {
  position: absolute;
  bottom: 0.5rem;
  right: 0.5rem;
}

.text {
  font-size: 3em;
  line-height: 1.3;
}

.cover {
  width: 100%;
  position: absolute;
  top: 0;
  z-index: 1000;
}

canvas {
  z-index: 1;
}

#text {
  cursor: pointer;
}

#text .active {
  color: deeppink;
}
