body.ui.container {
  display: block;
  max-width: 1024px;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

aside {
  max-width: 100%;
  margin-right: 1rem;
  clear: block;
}

main {
  flex-grow: 1;
  display: flex;
  background-color: #cfcfcf;
  height: 360px;
}

main:empty::after {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%);
  font-size: 2rem;
  text-align: center;
  color: rgba(255, 255, 255, 0.8);
  content: "Waiting for participants..."
}

h2 {
  display: inline;
  margin-bottom: 0;
  font-size: 1.25rem;
}

.ui.button { 
  margin: 0; 
}

#effect-controls {
  padding: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#effects {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#webar {
  position: relative;
  line-height: 0
}

#sound {
  position: absolute;
  bottom: 0.5rem;
  right: 0.5rem;
}
